@import "tailwindcss";
@import "@nuxt/ui";



:root {
  --ui-primary: #ff6600;
  --ui-primary-foreground: #ffffff;
}


/* assets/css/fonts.css */
.font-robotoslab {
  font-family: 'Roboto Slab', serif;
}


html {
  scroll-behavior: smooth;
}